* {
	box-sizing: border-box;
}
h1 {
  text-align: center;
  font-family: Helvetica;
  color: black;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  display: block;
  background: darkgrey;
  border: 1px solid black;
  padding: 1em;
  margin-bottom: 1em;
}

#chicken {
  background: pink;
}

@media (min-width: 768px) {
  ul {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
  }
  li {
    margin-bottom: 0;
    flex: 1 0 calc(50% - 0.5em);
  }
}

@media (min-width: 992px) {
  li {
    flex: 1 1 calc(33% - 1em);
  }
}